<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T2 Wismann</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>



<div class="container">


<div th:if="${mensaje}" class="alert alert-success alert-dismissible fade show" role="alert">
            <p th:text="${mensaje}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    <h2 class="mt-4">Lista Empleados</h2>
    
    <br>
    
    
    <a th:href="@{/registrar_empleado}" class="btn btn-primary">Registrar</a>
   
    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Dirección</th>
                <th scope="col">Correo</th>
                <th scope="col">Área</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e : ${listaEmpleados}">
                <td th:text="${e.dni}"></td>
                <td th:text="${e.nombre}"></td>
                <td th:text="${e.apellido}"></td>
                <td th:text="${e.fecNaci}"></td>
                <td th:text="${e.direc}"></td>
                <td th:text="${e.correo}"></td>
                <td th:text="${e.areaEntity.nomArea}"></td>
		        <td>
		         <a th:href="@{/eliminar_empleado/{dni}(dni=${e.dni})}"
				       style="color: green; text-decoration: none; ">
				       Editar
				    </a>
		        ||
				    <a th:href="@{/eliminar_empleado/{dni}(dni=${e.dni})}"
				       onclick="return confirm('¿Estás seguro de eliminar a este empleado?')"
				       style="color: red; text-decoration: none; ">
				       Eliminar
				    </a>
				    
				</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
